<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StarlitTwit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StarlitTwit.Properties.Settings>
            <setting name="DateTimeFormat" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ddd MMM d HH:mm:ss +0000 yyyy</string>
                        <string>ddd, d MMM yyyy HH:mm:ss +0000</string>
                        <string>ddd MMM d HH:mm:ss UTC yyyy</string>
                    </ArrayOfString>
                </value>
            </setting>
        </StarlitTwit.Properties.Settings>
    </applicationSettings>
</configuration>